footer {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #ded9d9;
  position: fixed;
  left: -140px;
  top: 180px;
  border-radius: 20px;
  transition: transform 0.3s;
}

footer a {
  text-decoration: none;
  font-family: 'Lato';
  color: black;
  font-weight: 700;
}

footer a:hover {
  text-decoration-line: underline;
}

footer .fa-angle-right {
  font-size: 1.5em;
}

footer:hover {
  transform: translateX(130px);
}
